
@if (!showSearchContent) {
  <app-carousel
    [carouselId]="'scrollTargetPopular'"
    [getRequest]="getPopularMovies.bind(this)"
    [moviesList]="popularMoviesList"
    [noContentMessage]="'Nothing to show here'"
    carouselTitle="Popular"
  />

  <app-carousel
    [carouselId]="'scrollTargetTopRated'"
    [getRequest]="getTopRatedMovies.bind(this)"
    [moviesList]="topRatedMoviesList"
    [noContentMessage]="'Nothing to show here'"
    carouselTitle="Top Rated"
  />

  <app-carousel
    [carouselId]="'scrollTargetUpcoming'"
    [getRequest]="getUpcomingMovies.bind(this)"
    [moviesList]="upcomingMoviesList"
    [noContentMessage]="'Nothing to show here'"
    carouselTitle="Upcoming"
  />
  }

@else {
  <section class="movies-list" id='scrollTargetSearch'>
    @for (movie of searchedMoviesList; track movie.id) {
      <app-movie-card class="movies-list__card"  [movie]="movie"></app-movie-card>
    }
    @empty {<span class="movies-list__no-content">We couldnt find results for {{searchTerm}}</span> }
  </section>
}

