.movie
  min-width: 150px
  background-color: transparent
  border: none
  caret-color: transparent

  &__banner
    border-radius: 10px
    width: 150px
    height: 250px
    background-size: cover

    &:hover
      cursor: pointer

  &__title
    margin-top: 10px
    text-wrap: auto
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    width: 150px
