<h2 class="carousel-title">{{carouselTitle}}</h2>

<section class="carousel" id={{carouselId}}>
  @if (moviesList.length > 0) {
    <a [ngClass]="hideButton(true)" class="carousel__button carousel__button-left" (click)="scrollCaroulsel(true)"><</a>
  }

  @for (movie of moviesList; track movie.id) {
    <app-movie-card class="carousel__card"  [movie]="movie"></app-movie-card>
  }
  @empty {<span class="carousel__no-content">{{noContentMessage}}</span> }


  @if (moviesList.length > 0) {
    <a class="carousel__button carousel__button-right" (click)="scrollCaroulsel(false)">></a>
  }
</section>
